<div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<style>
.bestPlayerCount{
	color:green;
	font-size: x-large;
	font-weight: bold;
}

.goodPlayerCount{
	color:#aa0;
	font-size: large;
	font-weight: bold;
}

.alrightPlayerCount{
	font-size: medium;
	font-weight: bold;
}

.badPlayerCount{
	color:red;
	font-size: small;
	font-weight: bold;
}
</style>

Suggested Player Count<br/>
<b>Best:</b> <span class='bestPlayerCount' id='bestPlayerCount'>4</span><br/>
<script>
setTimeout(function(){
	console.log('asdf');
	console.log(typeof $('#bestPlayerCount'));
	console.log($('#bestPlayerCount').css('color'));
	console.log($('#bestPlayerCount').css('font-size'));
	console.log($('#bestPlayerCount').css('font-weight'));
}, 1000);
</script>
<b>Good:</b> <span class='goodPlayerCount'>3</span> <span class='goodPlayerCount'>5</span><br/>
<b>No Majority:</b> <span class='alrightPlayerCount'>2</span><br/>
<b>Bad:</b> <span class='badPlayerCount'>1</span><br/>
<br/>
<b>Examples:</b><br/>
<span class='badPlayerCount'>1</span><span class='alrightPlayerCount'>2</span><span class='goodPlayerCount'>3</span><span class='bestPlayerCount'>4</span><span class='alrightPlayerCount'>5</span><br/>
<span class='badPlayerCount'>1</span><span class='bestPlayerCount'>2</span><br/>
<span class='badPlayerCount'>1</span><span class='badPlayerCount'>2</span><span class='alrightPlayerCount'>3</span><span class='alrightPlayerCount'>4</span><span class='goodPlayerCount'>5</span><span class='bestPlayerCount'>6</span><span class='bestPlayerCount'>7</span><span class='alrightPlayerCount'>8</span><br/>

</div>
